body {
  background-color: #1c3041;
  color: #4cd6e6;
  height: 100vh;
  font-family: "Darker Grotesque";
  word-wrap: break-word;
}

p {
  word-wrap: break-word;
}

.square {
  width: 100px;
  height: 100px;
  background: #1f2833;
  border: #1f2833;
  border-style: solid;
  margin: 0px;
}

.ProfilePic {
  border-radius: 50%;
  width: 18.75em;
  height: 18.75em;
  margin: 0;
  box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25);
}
.WelcomeButton {
  z-index: 20;
  margin: 0;
  position: absolute;
  //-ms-transform: translate(-50%, -50%);
  //transform: translate(-50%, -50%);
}
.grid {
  display: grid;
  grid-template-columns: var(--grid-template-columns);
  grid-template-rows: var(--grid-template-rows);
  position: absolute;
}
.SplashScreen {
  position: fixed;
  padding: 0;
  margin: 0;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
canvas {
  width: 100vw;
  height: 100vh;
  opacity: 0.5;
  position: absolute;
  z-index: 10;
  background: #0b1b2d;
}
.mapStyle {
  height: "400px";
  width: "800px";
}
@keyframes borderColor {
  0% {
    border-color: #ff0000;
  }
  20% {
    border-color: #ff7300;
  }
  30% {
    border-color: #7a00ff;
  }
  40% {
    border-color: #fffb00;
  }
  50% {
    border-color: #ff00c8;
  }
  60% {
    border-color: #48ff00;
  }
  70% {
    border-color: #ff0000;
  }
  80% {
    border-color: #00ffd5;
  }
  100% {
    border-color: #002bff;
  }
}

.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.ContactIcon {
  transform: scale(2);
  color: #baff29;
}
.SkillsIcon {
  transform: scale(4);
  color: #baff29;
  //display: flex;
  //align-items: center;
  //justify-content: center;
  //border-radius: 50%;
  //margin:50px;
  //box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.25);
}
.EducationFlexBox {
  display: flex; /* or inline-flex */
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  gap: 0.625em 1.25em;
  word-wrap: break-word;
  margin-top: 0.625em;
}
.ContactFlexBox {
  display: flex; /* or inline-flex */
  height: 100px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  gap: 0.625em 1.25em;
  word-wrap: break-word;
  margin-top: 0.625em;
}
.ContactBox {
  width: 4.375em;
  height: 4.375em;
  display: flex;
  align-items: center;
  justify-content: center;

  // background: radial-gradient(
  //   120.31% 335.94% at 50% 50%,
  //   #708ace 0%,
  //   rgba(17, 19, 22, 0) 100%
  // );
  border: 3px solid #baff29;
  //box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 12px;
}

.SkillsBox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
  padding: 10px;
  // background: radial-gradient(
  //   120.31% 335.94% at 50% 50%,
  //   #708ace 0%,
  //   rgba(17, 19, 22, 0) 100%
  // );

  //box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 12px;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  gap: 0.625em 1.25em;
  flex-wrap: wrap;
  margin-top: center;
  justify-content: center;
  height: 90%;
  width: 100%;
}

.SkillsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  gap: 0.625em 1.25em;
  flex-wrap: wrap;
  margin-top: center;
  justify-content: center;
  height: 90%;
  width: 100%;
}

.homeContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  gap: 0.625em 1.25em;
  flex-wrap: wrap;
  margin-top: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.Educontainer {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  align-content: center;
  gap: 0.625em 1.25em;
  flex-wrap: wrap;
  justify-content: center;
  height: 85%;
  width: 100%;
  
}

.typewriter {
  font-weight: bold;
  font-size: 2em;
  position: relative;
}
.scrollDownLeft {
  position: absolute;
  left: 0;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  color: grey;
  animation-name: scrollBoing;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.scrollDownRight {
  position: absolute;
  right: 0;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  color: grey;
  animation-name: scrollBoing;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes scrollBoing {
  0% {
    bottom: 0px;
  }
  50% {
    bottom: 0.625em;
  }
  100% {
    bottom: 0px;
  }
}

@keyframes scrollLineAppear {
  0% {
    height: 0em;
  }
  100% {
    bottom: 12.5em;
  }
}

.typewriterCursor {
  font-size: 2em;
  color: #4cd6e6;
}

.toolTip {
  display: flex;
  align-items: center;
  justify-content: center;
  //border-bottom: 1px dotted black;
}

.toolTip .toolTiptext {
  visibility: hidden;
  width: 7.5em;
  background-color: #171a21;
  color: #4cd6e6;
  text-align: center;
  border-radius: 0.375em;
  padding: 0.3125em 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -3.75em;
}

.toolTip:hover .toolTiptext {
  visibility: visible;
}

.douglasPic {
  //size: 50px;
  height: 5em;
  margin-right: 5px;
}

.ubcPic {
  //size: 100px;
  height: 5em;
  margin-right: 5px;
  margin-left: 25px;
}

.largeText {
  font-size: 2em;
}
.verticleLine {
  height: 5em;
  width: 5px;
  background-color: #baff29;
  animation-name: scrollLineAppear;
  animation-duration: 1s;
}
.Educationheading {
  display: grid;
  place-items: left;
  margin-left: 2%;
  font-size: 2.25em;
  
}
.Experiencenheading {
 text-align: left;
  margin-left: 2%;
  font-size: 4.25em;
  margin: 0;
}
.experienceDiv {
  display: flex; /* or inline-flex */
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  gap: 1.25em;
}
.experienceCard {
  background-color: #086788;
  align-content: center;
  text-align: center;
  width: 300px;
  padding: 30px;
  transition: 0.3s;
}
.experienceCard:hover {
  background-color: #1f2833;
  align-content: center;
  text-align: center;
  width: 450px;
  padding: 30px;
  font-size: 1.5em;
}
.experienceDetail {
  text-align: left;
}
.experiencePic {
  height: 100px;
  width: auto;
}

ul{
  display: "contents"
}
.navigation {
  position: fixed !important;
  margin: auto;
  padding-top: 15px;
  box-shadow: 0px 0px 8px 0px;
  -webkit-box-shadow: 0px 0px 8px 0px;
  -moz-box-shadow: 0px 0px 8px 0px;
  background-color: #1f2833;
  width: 350px;
  z-index: 100;
  text-align: center;
}

.navTab {
  color: #4cd6e6;
  text-decoration: none;
}

.is-current {
  color: #baff29;
  text-decoration: none;
}